Host github.com
  User          <your github username personal account>
  HostName      github.com
  # The path to the private key associated to your personal account
  IdentityFile  ~/.ssh/id_ed25519

Host gitlab.com
  User          <your gitlab username work account>
  HostName      gitlab.com
  # The path to the private key associated to your work account
  IdentityFile  ~/.ssh/id_rsa
