# Ignore everything
/*
!.gitignore
!.gitmodules

# Except for the files and folders we want to track
!README.md
!README.es.md
!.pkgs
!.screenshots
!.bashrc
!.zshrc
!.xprofile
!.Xresources
!.config
!.xephyr
!.pkgs
!.aur-pkgs
!.files
!.gtkrc-2.0
!.restore
!LICENSE.txt

# Git config file
!.gitconfig
!.ssh
