# Ignore everything
/*
!.gitignore

# Except for the files and folders we want to track
!alacritty
!fish
!starship.toml
!htop
!nvim
!rofi
!vifm
!ranger
!qtile
!dwm
!dwmblocks
!xob
!bat
!picom.conf
!pycritty
!neofetch
!gtk-2.0
!gtk-3.0
!volumeicon
!sddm
